*{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    margin: 0;
    box-sizing: border-box;        
}
body {
    width: 100%;
    background-color: #f6f6f6;
    font-family: Arial, sans-serif;
}

main{
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

.main{
    padding-top: 10px;
}

/* Nav Styling */
.header_nav{
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding-top: 0;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    height: 45px;
    margin-right: 0;
    margin-top: 5px;
}

.navbar-title {
    margin: 0;
    color: #000000;
}

.navbar {
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ebebeb;
    border-radius: 10px;
    color: white;
    text-decoration: none;

}

/* Hero Section */
.hero_section{
    height: 550px;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    color: #000000;
}

section{
    height: 550px;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    color: #000000;
}

.background_container{
    position: relative;
    background-image: url('../images/main_bg.jpg');
    background-size: 100%;
    position: relative;
    background-repeat: no-repeat;
    object-fit: scale-down;
    height: 550px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.background_body{
    position: absolute;
    backdrop-filter: blur(0.1px);
    display: flex;
    /* justify-content: end; */
    align-items: end;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.background_body h1{
    font-size: 45px;
    color: #ffffff;
    margin-bottom: 10px;
}

.background_body h3{
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
}

.project-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

article {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    width: 300px;
    transition: background-color 0.3s, transform 0.3s;
}

article:hover {
    background-color: #f8f8f8;
    transform: scale(1.05);
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

p {
    color: #666;
}