<!-- about.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About the Computer Science Department</title>
    <link rel="stylesheet" href="../css/about.css">
</head>
<body>

<!-- Nav Bar -->
<nav class="header_nav">
    <!-- Logo and Header -->
    <div class="navbar-left" style="display: flex; align-items: center;">
        <img src="../images/UG.png" alt="" class="logo">
        <!-- <h1 style="font-size: 40px;" class="navbar-title">UG</h1> -->
    </div>
    
    <!-- Links to other pages -->
    <div class="navbar">
        <a href="../index.html">Home</a>
        <a href="about.html">About</a>
        <a href="catalog.html">Catalog</a>
        <a href="resources.html">Resources</a>
        <a href="events.html">Events</a>
        <a href="contact.html">Contact</a>
        <a href="student_projects.html">Student Projects</a>
    </div>
</nav>

<section class="hero_section">
    <!-- Top Hero Section -->
    <div class="background_container">
        <div class="background_body">
            <div style="display: block; justify-content: start;">
                <h1>Department of Computer Science - About Us</h1>
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, inventore. Distinctio placeat magni repellendus deserunt exercitationem dolores ad, itaque rerum omnis nam praesentium sint quam magnam, impedit ut pariatur! Quo.</h3>
            </div>
        </div>
    </div>
</section>

    <section class="intro" style="text-align: center;">
        <div>
            <img src="../icons/handshake.png" alt="" style="height: 60px; width: 60px;">
            <h2>Welcome</h2>
            <p>
                This is the Information Technology age and at its core is Computer Science. The study of computer science is therefore critical if society is to take full advantage of the benefits Information Technology has to offer and make rapid economic advances. Computer science involves the study and development of applications that allow for our everyday use of computers, the software systems that support these applications, and the means and methods used to produce both applications and systems that behave reliably, correctly and ethically. At the heart of Computer Science lies the skill of computer programming and employers who hire Computer Scientists expect adept programmers with knowledge of current techniques and tools and the ability to apply sound engineering principles to the development, construction and maintenance of computer programs.            
            </p>
            <br>
            <p>
                The range of courses available in the department and the skills acquired by students enable them to find employment in many diverse fields of the economy and prepare our graduates for the computing industry, working in a project team (or research and development team), and to enable the graduate to bring specialist skills to that team. The course also provides the platform for further study or research through exposure to established and emerging technologies and methods, and to active fields of research in Computer Science.
                
                The Department offers two undergraduate degree programmes, Bachelor of Science in Computer Science Single-Major (3:2:1:1) and Major-Minor (3:2:2:1) as well as Bachelor of Science in Information Technology.
            </p>
        </div>
    </section>

    <section class="content-section">
        <article>
            <img src="../icons/employee.png" alt="">
            <h2>Our Organization</h2>
            <p>The University of Ghana is one of the Africa's most preeminent public universities. Our impact on individuals, our region and the world is profound. whether we are launching young people into a boundless future or confronting the grand challenges of our time through dauntless research. UG educates more than 38,000students annually, with approximately 2.64% being computer science students. We turn ideas into impact and transform the world around us. For more about our impact, visit our news site, UG News.</p>
        </article>

        <article>
            <img src="../icons/crowd.png" alt="">
            <h2>Our Community</h2>
            <p>If you are inspired by a big challenge, you've come to the right place! The computer science community at the univrersity of Ghana encourages it's people to be vibrant and brave in taking on new challenges that push boundries beyond imagination.</p>
        </article>

        <article>
            <img src="../icons/online.png" alt="">
            <h2>Distance Learning</h2>
            <p>Experience a UG-CDCD classroom from wherever you are. Take advantage of real-time lectures and personal interaction with professors through a suite of online delivery options, customizing your degree to fit your schedule. Our online classroom maintains the same level of academic rigor, while providing students with more ways of learning.</p>
        </article>

        <article>
            <img src="../icons/fut.png" alt="">
            <h2>Building Our Future</h2>
            <p>So what defines our students, faculty and community members? Above all, its our belief in the infinite possibilitie and our unshakable optimism. Its a connection to others near and far. A hunger for socio-economic transformation that pushes us to tackle challenges and pursue progress. Its the conviction that together we can create a world of good. Join us on the journey.</p>
        </article>
    </section>
</body>
<!-- Footer section -->
<footer>
    <p>&copy; 2023 University of Ghana. All rights reserved.</p>
</footer>
</html>