<!-- catalog.html -->
<!DOCTYPE html>
<html>
    <head>
        <title>Catalog</title>
        <link rel="stylesheet" type="text/css" href="../css/catalog.css">
    </head>
    <body>

    <!-- Nav Bar -->
        <nav class="header_nav">
            <!-- Logo and Header -->
            <div class="navbar-left" style="display: flex; align-items: center;">
                <img src="../images/UG.png" alt="" class="logo">
                <!--<h1 style="font-size: 40px;" class="navbar-title">UG</h1> -->
            </div>
            
            <!-- Links to other pages -->
            <div class="navbar">
                <a href="../index.html">Home</a>
                <a href="about.html">About</a>
                <a href="catalog.html">Catalog</a>
                <a href="resources.html">Resources</a>
                <a href="events.html">Events</a>
                <a href="contact.html">Contact</a>
                <a href="student_projects.html">Student Projects</a>
            </div>
        </nav>

        <section class="hero_section">
            <!-- Top Hero Section -->
            <div class="background_container">
                <div class="background_body">
                    <div style="display: block; justify-content: start;">
                        <h1>Here is our Course Catalog</h1>
                        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, inventore. Distinctio placeat magni repellendus deserunt exercitationem dolores ad, itaque rerum omnis nam praesentium sint quam magnam, impedit ut pariatur! Quo.</h3>
                    </div>
                </div>
            </div>
        </section>

        <section class="catalog">
            <article>
                <div style="background-image: url('../images/algo.jpg'); background-size: cover; height: 150px; width: 100%; margin: 0; border-radius: 8px;"></div>
                <h2>Algorithms and Data Structures</h2>
                <p>An in-depth study of algorithms and data structures for efficient problem-solving.</p>
            </article>

            <article>
                <div style="background-image: url('../images/prog_lang.jpg'); background-size: cover; height: 150px; width: 100%; margin: 0; border-radius: 8px;"></div>
                <h2>Programming Languages</h2>
                <p>Explore various programming languages and their features.</p>
            </article>

            <article>
                <div style="background-image: url('../images/archit.jpg'); background-size: cover; height: 150px; width: 100%; margin: 0; border-radius: 8px;"></div>
                <h2>Computer Architecture</h2>
                <p>Understanding the design and organization of computer systems.</p>
            </article>

            <article>
                <div style="background-image: url('../images/operate.jpg'); background-size: cover; height: 150px; width: 100%; margin: 0; border-radius: 8px;"></div>
                <h2>Operating Systems</h2>
                
                <p>Learn about the principles and components of operating systems.</p>
            </article>

            <article>
                <div style="background-image: url('../images/ai.jpg'); background-size: cover; height: 150px; width: 100%; margin: 0; border-radius: 8px;"></div>
                <h2>Artificial Intelligence</h2> 
                <p>Explore the field of artificial intelligence and its applications.</p>
            </article>

            <article>
                <div style="background-image: url('../images/ML.jpg'); background-size: cover; height: 150px; width: 100%; margin: 0; border-radius: 8px;"></div>
                <h2>Machine Learning</h2>
                <p>Study the algorithms and techniques used in machine learning.</p>
            </article>

            <article>
                <div style="background-image: url('../images/Ethical.jpg'); background-size: cover; height: 150px; width: 100%; margin: 0; border-radius: 8px;"></div>
                <h2>Cybersecurity</h2>
                <p>Learn about securing computer systems and networks from cyber threats.</p>
            </article>
        </section>
    </body>
    <footer>
        <p>&copy; 2023 University of Ghana. All rights reserved.</p>
    </footer>
</html>