<!-- contact.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
    <link rel="stylesheet" type="text/css" href="../css/readmore.css">
</head>
<body>

<!-- Nav Bar -->
<nav class="header_nav">
    <!-- Logo and Header -->
    <div class="navbar-left" style="display: flex; align-items: center;">
        <img src="C:\Users\samue\Desktop\Projects\Flutter\sports_app\assets\icons\UG.png" alt="" class="logo">
        <h1 style="font-size: 40px;" class="navbar-title">UG</h1>
    </div>
    
    <!-- Links to other pages -->
    <div class="navbar">
        <a href="../index.html">Home</a>
        <a href="about.html">About</a>
        <a href="catalog.html">Catalog</a>
        <a href="resources.html">Resources</a>
        <a href="events.html">Events</a>
        <a href="contact.html">Contact</a>
        <a href="student_projects.html">Student Projects</a>
    </div>
</nav>

<div class="contact">
    <h1>Contact</h1>
    <p>For further inquiries, please contact the department:</p>
    <br>
    <p>
        Phone & Email <br>
        <img src="../icons/telephone.png" alt="">+233 501 382 035 <br>
        <img src="../icons/telephone.png" alt="">+233 559 145 698 <br>
        <img src="../icons/email.png" alt="">dcs@ug.edu.gh <br>
        Location <br>
        <img src="../icons/location.png" alt="">University Of Ghana, Legon Campus <br>
        <img src="../icons/location.png" alt="">Opposite Mathematics Department <br>
    </p>
</div>
</body>
</html>