<!-- events.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Events</title>
    <link rel="stylesheet" type="text/css" href="../css/events.css">
</head>
<body>

<!-- Nav Bar -->
<nav class="header_nav">
    <!-- Logo and Header -->
    <div class="navbar-left" style="display: flex; align-items: center;">
        <img src="../images/UG.png" alt="" class="logo">
        <h1 style="font-size: 40px;" class="navbar-title">UG</h1>
    </div>
    
    <!-- Links to other pages -->
    <div class="navbar">
        <a href="../index.html">Home</a>
        <a href="about.html">About</a>
        <a href="catalog.html">Catalog</a>
        <a href="resources.html">Resources</a>
        <a href="events.html">Events</a>
        <a href="contact.html">Contact</a>
        <a href="student_projects.html">Student Projects</a>
    </div>
</nav>

<section class="hero_section">
    <!-- Top Hero Section -->
    <div class="background_container">
        <div class="background_body">
            <div style="display: block; justify-content: start;">
                <h1>Department of Computer Science - Events</h1>
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, inventore. Distinctio placeat magni repellendus deserunt exercitationem dolores ad, itaque rerum omnis nam praesentium sint quam magnam, impedit ut pariatur! Quo.</h3>
            </div>
        </div>
    </div>
</section>

<section class="event-section">
    <article>
        <div class="event-image" style="background-image: url('../images/image_2.jpg'); background-size: cover; width: 50%;"></div>
        <div class="event-details">
            <h2>Lectures and Workshops</h2>
            <p>Immerse yourself in a world of knowledge through our captivating lectures and workshops. Our seasoned faculty and distinguished industry professionals bring current and relevant topics to the forefront of your learning experience. From deep dives into algorithmic complexities to explorations of emerging technologies, these sessions are designed to broaden your understanding and ignite your passion for computer science.</p>
            <p>As you engage with our speakers, you'll find opportunities to ask questions, share your insights, and connect with like-minded peers. The interactive nature of these sessions ensures that you not only absorb information but actively participate in the discourse. Join us on a journey of continuous learning, where each lecture and workshop becomes a stepping stone in your quest for knowledge.</p>
            <p>Expand your horizons, challenge your thinking, and be inspired by the world of possibilities that lectures and workshops in our department offer. Your academic journey is not just about coursework; it's an exploration of the limitless potential that computer science holds.</p>
            <p>Join us for an enriching experience where the exchange of ideas transcends the classroom walls, and where every lecture and workshop is a celebration of the diverse and dynamic field of computer science.</p>

        </div>
    </article>

    <article>
        <div class="event-details">
            <h2>Student-led Seminars</h2>
            <p>Engage in dynamic student-led seminars showcasing the latest research and development projects. Dive deep into discussions, explore innovative solutions, and witness the creativity of your peers. It's an opportunity to contribute, learn, and expand your knowledge in a collaborative environment.</p>
            <p>Our student-led seminars serve as a platform for fostering a culture of exploration and experimentation. Whether you're presenting your project or actively participating in the audience, these sessions provide a unique space for sharing ideas and gaining valuable feedback.</p>
            <p>As part of our commitment to student-led initiatives, these seminars encompass a wide range of topics, from groundbreaking software applications to cutting-edge hardware projects. This diversity reflects the varied interests and expertise within our vibrant computer science community.</p>
            <p>Participate in the exchange of ideas, challenge your perspectives, and embrace the spirit of collaboration that defines our student-led seminars. It's not just an event; it's a dynamic showcase of the innovation and talent that thrives within our department.</p>
        </div>
        <div class="event-image" style="background-image: url('../images/image.jpg'); background-size: cover; width: 50%;"></div>
    </article>

    <article>
        <div class="event-image" style="background-size: cover; background-image: url('../images/socials.jpg');width: 50%;"></div>
        <div class="event-details">
            <h2>Social Events</h2>
            <p>Forge connections and build lasting relationships at our vibrant social events. These gatherings provide a platform to network with fellow students, faculty, and industry professionals. Share experiences, foster a sense of community, and enjoy a lively atmosphere beyond the classroom.</p>
            <p>Our social events are more than just occasions to unwind; they are opportunities to connect on a personal and professional level. From casual meet-ups to themed parties, these events are designed to cater to a diverse range of interests and preferences.</p>
            <p>Engage in conversations with professionals from the industry, seek advice from seasoned experts, and create memories with your peers. The social events organized by our department aim to strike a balance between academic pursuits and the joys of building a supportive and inclusive community.</p>
            <p>Whether you're an extrovert who loves to socialize or an introvert looking to expand your network, our social events offer a welcoming environment for everyone. Join us in celebrating the bonds that go beyond the lecture halls and labs, shaping a community that thrives on shared experiences.</p>
        </div>
    </article>

    <article>
        <div class="event-details">
            <h2>Hackathons and Competitions</h2>
            <p>Showcase your programming prowess in thrilling hackathons and coding competitions. Test your problem-solving skills, collaborate with teammates, and tackle real-world challenges. It's a chance to push your limits, gain hands-on experience, and leave a mark with your coding creativity.</p>
            <p>Our hackathons and competitions are not just about winning; they're about the journey of discovery, innovation, and learning. Whether you're a seasoned coder or a novice, these events provide a level playing field where creativity and dedication are the true markers of success.</p>
            <p>Experience the adrenaline rush of coding against the clock, brainstorming solutions, and presenting your work to a panel of judges. Our hackathons are designed to simulate real-world scenarios, allowing you to apply your skills in a dynamic and fast-paced environment.</p>
        </div>
        <div class="event-image" style="background-image: url('../images/hack.jpg'); width: 50%; background-size: cover;"></div>
    </article>
</section>

</body>
</html>