<!-- resources.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
    <link rel="stylesheet" type="text/css" href="../css/resources.css">
</head>
<body>

    <!-- Nav Bar -->
    <nav class="header_nav">
        <!-- Logo and Header -->
        <div class="navbar-left">
            <img src="C:\Users\samue\Desktop\Projects\Flutter\sports_app\assets\icons\UG.png" alt="" class="logo">
            <h1 class="navbar-title">UG</h1>
        </div>
        <!-- Links to other pages -->
        <div class="navbar">
            <a href="../index.html">Home</a>
            <a href="about.html">About</a>
            <a href="catalog.html">Catalog</a>
            <a href="resources.html" class="active">Resources</a>
            <a href="events.html">Events</a>
            <a href="contact.html">Contact</a>
            <a href="student_projects.html">Student Projects</a>
        </div>
    </nav>

    <section>
        <!-- Top Hero Section -->
        <div class="background_container">
            <div class="background_body">
                <div style="display: block; justify-content: start;">
                    <h1>Welcome to the Department of Computer Science</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="resource-section">
        <article>
            <h2>Online Coding Platforms</h2>
            <p>Enhance your coding skills by practicing on various online platforms. Solve real-world problems and challenges to strengthen your hands-on experience.</p>
            <img src="../icons/coding.png" alt="">
        </article>

        <article>
            <h2>Programming Languages and Tools</h2>
            <p>Explore a diverse set of programming languages and tools available on our department computers. Stay updated with the latest technologies and industry-standard tools.</p>
            <img src="../icons/build.png" alt="">
        </article>

        <article>
            <h2>Software Development Books</h2>
            <p>Access an extensive collection of books and online resources to support your software development studies. Dive into literature that covers a wide range of topics in computer science.</p>
            <img src="../icons/open-book.png" alt="">
        </article>

        <article>
            <h2>Guest Lecturers</h2>
            <p>Learn from industry professionals who serve as guest lecturers, sharing their valuable insights and experiences. Gain practical knowledge and network with experts in the field.</p>
            <img src="../icons/user.png" alt="">
        </article>
    </section>

</body>
</html>
