<!-- student_projects.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Student Projects</title>
    <link rel="stylesheet" type="text/css" href="../css/project.css">
</head>
    <body>
        <!-- Nav Bar -->
        <nav class="header_nav">
            <!-- Logo and Header -->
            <div class="navbar-left" style="display: flex; align-items: center;">
                <img src="../images/UG.png" alt="" class="logo">
            </div>
            
            <!-- Links to other pages -->
            <div class="navbar">
                <a href="../index.html">Home</a>
                <a href="about.html">About</a>
                <a href="catalog.html">Catalog</a>
                <a href="resources.html">Resources</a>
                <a href="events.html">Events</a>
                <a href="contact.html">Contact</a>
                <a href="student_projects.html">Student Projects</a>
            </div>
        </nav>

        <section>
            <!-- Top Hero Section -->
            <div class="background_container">
                <div class="background_body">
                    <div style="display: block; justify-content: start;">
                        <h1>Welcome to the Department of Computer Science</h1>
                    </div>
                </div>
            </div>
        </section>

        <section class="project-section">
            <article>
                <h2>Web Application for Course Enrollments</h2>
                <p>Explore a web application developed by our students for managing course enrollments efficiently.</p>
            </article>

            <article>
                <h2>Mobile App for Local Developers</h2>
                <p>Discover a mobile app created by our students to find and connect with local developers in the community.</p>
            </article>

            <article>
                <h2>AI-powered Chatbot for Technical Support</h2>
                <p>Check out an artificial intelligence-powered chatbot designed to answer technical support queries, a project completed by our students.</p>
            </article>
        </section>

    </body>
</html>